$color_1: #E3E3E3;
$color_2: #D01B52;
$color_3: #4F4F4F;
$color_4: #202020;
$color_5: #005BEA;
$color_6: rgba(79,79,79,0.3);
$color_7: rgba(79,79,79,0.8);
$color_8: rgba(255,255,255,0.5);
$color_9: #F7F7F7;
$color_10: #909090;
$color_11: rgba(0,0,0,0.2);
$color_12: #828282;
$color_13: #E1E1E1;
$color_14: #5e5e5e;
$color_15: #bdbdbd;
$color_16: #6f6f6f;
$color_17: rgba(0, 0, 0, 0.7);
$color_18: rgba(0, 0, 0, 0.5);
$color_19: #fafafa;
$color_20: #c4c4c4;
$color_21: #01b7f9;
$color_22: #7e7e7e;